
{% extends 'base.html' %}

{% block title %}

{% endblock title %}

{% block content %}
<main>
    <div>
        <h1>Accounts</h1>
         <table>
            <thead>
              <tr>
                <th>name</th>
                <th>number</th>
                <th>number of receipts</th>
              </tr>
            </thead>
            <tbody>
              {% for account in accounts %}
              <tr>
                <td>
                  {{ account.name }}
                </td>
                <td>
                    {{ account.number }}
                </td>
                <td>
                    {{ account.receipts.counts }}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
</main>
{% endblock content %}