
{% extends 'base.html' %}

{% block title %}

{% endblock title %}

{% block content %}
<main>
    <div>
        <h1>Expense Categories</h1>
         <table>
            <thead>
              <tr>
                <th>name</th>
                <th>number of receipts</th>
              </tr>
            </thead>
            <tbody>
              {% for category in categories %}
              <tr>
                <td>
                  {{ category.name }}
                </td>
                <td>
                    {{ category.receipts.counts }}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
</main>
{% endblock content %}